

$orange: #ee7203;
$orange50: #f9bd88;
$footerGray: #f4f2f2;

$h1size: 1.9rem;
$h2size: 1.4rem;
$h3size: 1.05rem;

@import 'partials/typo';
@import 'partials/structure';

@import 'partials/buttons';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/newsletter';
@import 'partials/mobilemenu';
@import 'partials/aktuelles';
@import 'partials/customcontent';
@import 'partials/indexgallery';



/* REST -> Sort later! */
/* ============================================================= */
/* ============================================================= */
/* index-vision */
/* ============================================================= */
/* ============================================================= */



