/* =================================================== */
/* =================================================== */
/* TYPO GLOBAL*/
/* =================================================== */
/* =================================================== */
/* line 7, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
html {
  font-size: 18px;
}

/* line 17, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
body, p {
  font-family: 'Gentium Basic', serif;
  letter-spacing: 0;
}

/* headlines etc.*/
/* line 23, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1, h2, h3,
.Header .Header-inner .Header-nav--secondary,
.Footer h3,
.Footer .Footer-nav .Footer-nav-item,
#index-aktuelles .summary-title {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  color: #ee7203;
  text-transform: uppercase;
  line-height: 1.25;
}

/* line 36, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Header .Header-inner .Header-nav--secondary {
  text-transform: none;
}

/* line 40, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Footer-nav .Footer-nav-item, .Footer h3 {
  font-size: 1rem;
}

/* line 44, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1 {
  color: #ee7203;
  font-size: 1.9rem;
  font-weight: bold;
}

/* line 49, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h2 em {
  font-size: 1.9rem;
}

/* line 53, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h2, h3 em {
  font-size: 1.4rem;
}

/* line 57, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h3 {
  font-size: 1.05rem;
}

/* line 61, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* line 66, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1 + h2, h1 + h1, h2 + h3 {
  margin-top: .2em;
}

/* line 69, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h3 {
  margin-top: 1.8em;
  margin-bottom: 0;
}

/* line 73, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h3 + p {
  margin-top: .75em;
}

/* line 77, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1 em, h2 em, h3 em {
  font-style: normal;
  font-family: "Gentium Basic", serif;
  text-transform: none;
  font-weight: normal;
  color: #222;
  letter-spacing: 0;
}

/* line 86, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h3, h4 {
  letter-spacing: 0.025em;
}

/* line 90, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Index-page.Index-page--has-image h1 em, .Index-page.Index-page--has-image h2 em, .Index-page.Index-page--has-image h3 em {
  color: #fff;
}

/* line 94, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1, h2 strong, h3 strong {
  font-weight: bold;
}

/* line 98, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1 strong::after, h2 strong::after, h3 strong::after {
  content: ' ';
  display: block;
  margin: 0.5em auto 1em 0;
  width: 4em;
  height: .25em;
  background-color: #ee7203;
}

/* line 107, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1.text-align-center strong::after, h2.text-align-center strong::after, h3.text-align-center strong::after {
  margin-left: auto;
  margin-right: auto;
}

/* line 111, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1.text-align-left strong::after, h2.text-align-left strong::after, h3.text-align-left strong::after {
  margin-left: 0;
  margin-right: auto;
}

/* line 115, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
h1.text-align-right strong::after, h2.text-align-right strong::after, h3.text-align-right strong::after {
  margin-left: auto;
  margin-right: 0;
}

/* line 120, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Index-page--has-image h1 {
  color: #fff;
}

/* line 124, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Index-page--has-image h1 strong::after {
  background-color: #fff;
}

/* line 128, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Index-gallery-item-content-heading {
  font-family: "Overpass", sans-serif;
  font-size: 1.9rem;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
  margin-bottom: 2rem;
}

/* line 135, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Intro.Intro--has-image h1, .Intro.Intro--has-image h2 {
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
}

/* line 139, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Index-gallery-item-content-body p {
  font-size: 1.9rem;
  font-family: 'Gentium Basic', serif;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
  margin-bottom: 5rem;
}

/* ============================================================= */
/* ============================================================= */
/* LINKS */
/* ============================================================= */
/* ============================================================= */
/* line 153, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Footer-blocks .sqs-block-html p a, .Footer-blocks .sqs-block-markdown p a, .Footer-blocks .sqs-block-image p a, .Footer-blocks .sqs-block-html blockquote a, .Footer-blocks .sqs-block-markdown blockquote a, .Footer-blocks .sqs-block-image blockquote a, .Footer-blocks .sqs-block-html ol a, .Footer-blocks .sqs-block-markdown ol a, .Footer-blocks .sqs-block-image ol a, .Footer-blocks .sqs-block-html ul a, .Footer-blocks .sqs-block-markdown ul a, .Footer-blocks .sqs-block-image ul a {
  padding-bottom: 0;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

/* line 158, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_typo.scss */
.Footer-blocks .sqs-block-html p a:hover, .Footer-blocks .sqs-block-markdown p a:hover, .Footer-blocks .sqs-block-image p a:hover, .Footer-blocks .sqs-block-html blockquote a:hover, .Footer-blocks .sqs-block-markdown blockquote a:hover, .Footer-blocks .sqs-block-image blockquote a:hover, .Footer-blocks .sqs-block-html ol a:hover, .Footer-blocks .sqs-block-markdown ol a:hover, .Footer-blocks .sqs-block-image ol a:hover, .Footer-blocks .sqs-block-html ul a:hover, .Footer-blocks .sqs-block-markdown ul a:hover, .Footer-blocks .sqs-block-image ul a:hover {
  color: #ee7203;
  border-bottom-color: #ee7203;
}

/* line 2, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_structure.scss */
body {
  margin-top: 1.8rem;
}

/* SPACER */
/* line 13, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_structure.scss */
#spacer {
  background-color: #ee7203;
  min-height: 20rem;
  /* add childi? */
}

/* line 19, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_structure.scss */
#spacer figure {
  display: none;
}

/* ============================================================= */
/* ============================================================= */
/* Buttons */
/* ============================================================= */
/* ============================================================= */
/* line 7, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.sqs-block-button a.sqs-block-button-element {
  font-family: 'Overpass', sans-serif !important;
  font-size: 1rem;
}

/* line 11, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.sqs-block-button .sqs-block-button-element--medium {
  padding: .3rem 1.5rem;
}

/* line 15, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.sqs-block-button .sqs-block-button-element--medium {
  color: #fff;
}

/* line 19, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button, body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button-color,
.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child,
.Mobile .Mobile-overlay-menu-main .Mobile-overlay-nav.Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Mobile-overlay-folder a.Mobile-overlay-folder-item {
  background-color: #fff;
  color: #ee7203;
  opacity: 1;
  font-size: 1rem;
  font-weight: bold;
  font-family: Overpass, sans-serif;
  text-transform: uppercase;
  padding: .3em 1.5em;
  border-radius: 5em;
}

/* line 35, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.Mobile .Mobile-overlay-menu-main .Mobile-overlay-nav.Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Mobile-overlay-folder a.Mobile-overlay-folder-item {
  width: auto;
  display: table;
  padding: .5em 0.7em;
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  line-height: 130%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  max-width: 82%;
}

/* line 48, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child {
  color: #fff;
  background-color: #ee7203;
  font-size: 0.9rem;
  padding: .3rem 0.8rem !important;
  -webkit-transition: .1s opacity linear;
  -moz-transition: .1s opacity linear;
  -o-transition: .1s opacity linear;
  transition: .1s opacity linear;
  margin-top: -0.13rem;
}

/* line 59, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_buttons.scss */
.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child:hover {
  color: #fff;
  opacity: 0.8;
}

/* ============================================================= */
/* ============================================================= */
/* FOOTER */
/* ============================================================= */
/* ============================================================= */
/* line 7, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.Footer .Footer-inner {
  padding-top: 1rem;
}

/* social icons */
/* line 13, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-style-solid .sqs-svg-icon--wrapper {
  background-color: #ee7203 !important;
}

/* line 16, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-style-solid .sqs-use--icon {
  fill: #fff;
}

/* line 19, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
  background-color: rgba(34, 34, 34, 0.4);
  transition: transform .2s;
  /* Animation */
}

/* line 23, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
  fill: #fff;
}

/* line 26, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
  background-color: #222;
  transform: scale(1.15);
}

/* line 30, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
  fill: rgba(255, 255, 255, 0.7);
}

/* footer nav */
/* line 36, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.tweak-footer-layout-columns .Footer--mid .Footer-nav-group {
  width: auto;
  padding-left: 0;
}

/* line 41, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
.tweak-footer-layout-columns .Footer-nav-item {
  display: inline-block;
  padding-right: 2rem;
}

/* footer shape */
/* line 48, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
footer.Footer::before {
  content: " ";
  display: block;
  height: 4rem;
  margin-top: -4rem;
  width: 100%;
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 6.9"><path d="M-4.8 7h105.3V0H92C61.2-.2 25.7 2.8-4.8 7z" fill="%23f6f4eb"/></svg>');
  background-size: cover;
}

/* line 59, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
nav.Footer-nav {
  margin-top: 0;
}

@media screen and (min-width: 820px) {
  /* line 65, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_footer.scss */
  nav.Footer-nav {
    margin-top: -5.9rem;
  }
}

/* ============================================================= */
/* ============================================================= */
/* HEADER */
/* ============================================================= */
/* ============================================================= */
/* line 8, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-branding-logo {
  max-width: auto;
  width: 11rem;
}

/* line 14, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header div[data-nc-container="bottom-right"] {
  background-color: #ee7203;
  position: absolute;
  top: -9.7rem;
  width: 100%;
}

@media screen and (min-width: 1240px) {
  /* line 23, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
  body {
    margin-top: 0 !important;
    border-top: 1.8rem solid #ee7203;
  }
  /* line 27, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
  .Header div[data-nc-container="bottom-right"] {
    position: relative !important;
    top: -10.5rem !important;
  }
}

/* line 33, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-inner {
  margin: 0;
  padding-right: 1rem;
}

/* line 38, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header.Header--bottom .Header-nav--secondary {
  height: 1.8rem;
  line-height: 2.4rem;
  font-size: 0.85rem !important;
  font-weight: normal !important;
}

/* line 45, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
body:not(.tweak-header-secondary-nav-hover-style-button):not(.tweak-header-secondary-nav-inherit-styles) .Header-nav--secondary .Header-nav-item {
  color: #fff !important;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

/* line 56, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
body:not(.tweak-header-secondary-nav-hover-style-button):not(.tweak-header-secondary-nav-inherit-styles)
.Header-nav--secondary .Header-nav-item:hover {
  opacity: 1;
}

/* line 61, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-item::before,
.Mobile-overlay-nav-item::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.3rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* line 74, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-item[href$="downloads/"]::before,
.Mobile-overlay-nav-item[href$="downloads/"]::before {
  content: "\f358";
  /*arrow down*/
}

/* line 78, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-item[href$="presse/"]::before,
.Mobile-overlay-nav-item[href$="presse/"]::before {
  content: "\f0a1";
  /*bullhorn*/
}

/* line 82, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-item[href$="kontakt/"]::before,
.Mobile-overlay-nav-item[href$="kontakt/"]::before {
  content: "\f086";
  /*comments*/
}

/* line 86, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--secondary .Header-nav-item[href$="aktuelles/"]::before,
.Mobile-overlay-nav-item[href$="aktuelles/"]::before {
  content: "\f0f3";
  /**/
}

/* PRIMARY */
/* line 95, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav {
  white-space: inherit;
}

/* line 99, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.tweak-header-primary-nav-hover-style-spotlight .Header-nav .Header-nav-inner {
  margin-top: 0.5rem;
}

/* line 103, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.tweak-header-primary-nav-hover-style-spotlight .Header-nav .Header-nav-folder-item {
  color: rgba(255, 255, 255, 0.6);
}

/* line 107, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--primary .Header-nav-inner .Header-nav-item {
  font-family: 'Overpass', sans-serif;
  font-size: .9rem;
}

/* line 112, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_header.scss */
.Header-nav--primary .Header-nav-item[href="/"] {
  display: none;
}

/* spenden button in buttons */
/* =================================================== */
/* =================================================== */
/* NEWSLETTER */
/* =================================================== */
/* =================================================== */
/* line 7, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
#index-newsletter {
  min-height: auto;
  padding-bottom: 4rem;
  background: #f69e64 url("https://static1.squarespace.com/static/5af1b59a96e76f94d4ab5802/t/5b463b43758d46aaa11c0956/1531329347502/childi_newsletter.svg") no-repeat 23% 0;
  background-size: 9rem;
}

/* line 14, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
#index-newsletter figure {
  display: none;
}

/* line 18, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
#index-newsletter h1 {
  margin-top: 11rem;
}

/* line 22, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
.form-item .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

/* line 27, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
.form-wrapper .field-list .field .option, .form-wrapper .field-list .field .caption, .form-wrapper .field-list .description {
  opacity: 1;
  font-size: 1rem;
  font-family: 'Gentium Basic', serif;
}

/* line 33, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button, body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button-color {
  margin-top: 1rem;
}

/* line 37, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
.form-wrapper .field-list .field .field-element {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

/* line 46, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_newsletter.scss */
.form-wrapper .field-list .field .field-element:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

/* =================================================== */
/* =================================================== */
/* SEARCHBAR *	/
/* =================================================== */
/* =================================================== */
/* line 7, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search {
  padding: 0;
}

/* line 11, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1.8rem;
  padding: 0;
  width: 8rem;
  border-radius: 0;
}

/* line 19, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form input {
  margin: 0;
  padding: 0;
  width: 6rem;
  height: 1.7rem;
  font-family: 'Overpass', sans-serif;
  font-size: 0.85rem;
  color: #fff;
  opacity: 0.7;
}

/* line 29, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form-submit {
  margin-top: -6px;
  margin-right: .3rem;
  opacity: 0.6;
}

/* line 35, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search-form:hover .Header-search-form-submit {
  opacity: 1;
}

/* line 39, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form:hover input, .Site-inner .Header .Header-search .Header-search-form input:active, .Site-inner .Header .Header-search .Header-search-form input:focus {
  opacity: 1;
}

/* line 43, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form input::-webkit-input-placeholder {
  color: #fff;
}

/* line 46, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form input::-moz-placeholder {
  color: #fff;
}

/* line 49, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form input:-ms-input-placeholder {
  color: #fff;
}

/* line 52, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_searchbar.scss */
.Site-inner .Header .Header-search .Header-search-form input:-moz-placeholder {
  color: #fff;
}

/* line 3, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_mobilemenu.scss */
.Mobile-overlay-menu a.Mobile-overlay-nav-item {
  font-family: Overpass, sans-serif !important;
  font-size: 1.4rem;
}

/* line 8, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_mobilemenu.scss */
.Mobile-overlay-nav.Mobile-overlay-nav--secondary {
  font-size: 1.1rem;
  border-top: 1px solid #fff;
  margin-top: 3.5rem;
  padding-top: 2rem;
  padding-left: 0.5rem;
}

/* line 17, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/partials/_mobilemenu.scss */
.Mobile-overlay-folder .Mobile-overlay-folder-item.Mobile-overlay-folder-item--toggle {
  font-family: Overpass, sans-serif;
  border-bottom: 1px solid #fff;
  width: 100%;
  display: block;
  padding-bottom: .3em;
  margin-bottom: 1.5rem;
  font-size: .7rem;
  text-transform: uppercase;
  padding-left: .3rem;
}

/* REST -> Sort later! */
/* ============================================================= */
/* ============================================================= */
/* index-vision */
/* ============================================================= */
/* ============================================================= */
/* line 20, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-page.Index-page--has-image:nth-child(2) {
  color: #fff;
  text-align: center;
  padding: 2rem 0 2rem 0;
  min-height: auto;
  overflow: visible;
  background-color: #ee7203;
}

/* line 28, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-page.Index-page--has-image:nth-child(2) figure.Index-page-image {
  display: none;
}

/* line 32, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-page.Index-page--has-image:nth-child(2) .Index-page-content {
  margin-top: 1rem;
}

/* line 36, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-page.Index-page--has-image:nth-child(2)::before {
  content: " ";
  width: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 6.9" preserveAspectRatio="none"><path d="M-4.8 7h105.3V0H92C61.2-.2 25.7 2.8-4.8 7z" fill="%23ee7203"/></svg>');
  background-size: cover;
  position: absolute;
  display: block;
  margin-top: -6rem;
  height: 4rem;
  z-index: 99999;
}

/* ============================================================= */
/* ============================================================= */
/* Index Styles */
/* ============================================================= */
/* ============================================================= */
/* line 55, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Site-inner main section:last-of-type {
  padding-bottom: 4rem;
}

/* ============================================================= */
/* ============================================================= */
/* Index Gallery */
/* ============================================================= */
/* ============================================================= */
/* line 65, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-gallery-item-image, .tweak-index-gallery-layout-slideshow .Index-gallery-wrapper,
figure,
.Intro--has-image {
  background-color: transparent !important;
}

/* line 72, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-gallery figure.Index-gallery-item-image::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  background: gray;
  z-index: 998;
  height: 14rem;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 0.7) 100%);
}

/*
.Index-gallery-indicators{
	bottom: 3rem;
}
*/
/* ============================================================= */
/* ============================================================= */
/* Aktuelles (index section) */
/* ============================================================= */
/* ============================================================= */
/* line 98, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.Index-page .Index-page-content {
  margin-top: 4.5rem;
  padding-top: 0;
}

/* line 103, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
#index-aktuelles h1 {
  margin-bottom: -2rem;
}

/* line 107, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
#index-aktuelles .summary-title {
  color: #fff;
  position: absolute;
  top: 0;
  width: auto;
  /*padding-left:0.5rem;*/
  text-transform: uppercase;
  font-size: 1rem;
  width: 48.5%;
  padding: .5rem .5rem .8rem .5rem;
  background: linear-gradient(to top, transparent 7%, rgba(0, 0, 0, 0.3) 100%);
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 7px;
}

/* line 121, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.summary-read-more-link {
  color: #ee7203;
  font-weight: bold;
}

/* line 127, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.sqs-gallery-design-carousel .sqs-gallery-controls .next:before, .sqs-gallery-design-carousel .sqs-gallery-controls .previous:before {
  font-size: 25px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #ee7203;
}

/* line 134, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.sqs-block-summary-v2 .summary-block-setting-design-carousel .summary-carousel-pager {
  width: 60px;
}

/* line 137, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.sqs-block-summary-v2 .summary-excerpt p, .sqs-block-summary-v2 .summary-read-more-link {
  font-size: 1rem;
}

/* =================================================== */
/* =================================================== */
/* AKTUELLES */
/* =================================================== */
/* =================================================== */
/* line 149, /Volumes/data/botho/Projekte/16_children_SRS/Children Web/Coding/github/chldrn-template-test/input/main.scss */
.tweak-site-width-option-full-background .Main-content {
  padding-top: 2rem;
}

/*# sourceMappingURL=../output/main.map */