
/* ============================================================= */
/* ============================================================= */
/* Aktuelles INDEX AND SITE */
/* ============================================================= */
/* ============================================================= */

.summary-item .img-wrapper::before,
.BlogList-item-image-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  transition: all .2s linear;
  z-index:1;
}
.summary-item:hover .img-wrapper::before,
.BlogList-item:hover .BlogList-item-image-link::before
 { 
  background:rgba(238,114,3,0.3);
}

#index-aktuelles .summary-title,
.BlogList .BlogList-item-title
 {
	// color:#fff;
	// position: absolute;
	// top: 0;
	// width: auto;
	/*padding-left:0.5rem;*/
	// text-transform: uppercase;
	// font-size: 1rem;
	// width: 31.5%;
	// padding: .5rem .5rem .8rem .5rem;
	// background: linear-gradient(to top, rgba(0,0,0,0) 7%,rgba(0,0,0,0.30) 100%);
	// text-shadow: rgba(0,0,0,0.4) 0px 0px 7px;
	padding: 0;
}

.sqs-gallery-design-carousel .sqs-gallery-controls .next:before,.sqs-gallery-design-carousel .sqs-gallery-controls .previous:before {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
	color: #ee7203;
}
.sqs-block-summary-v2 .summary-block-setting-design-carousel .summary-carousel-pager {
	width: 60px;
}
.sqs-block-summary-v2 .summary-excerpt p,
.sqs-block-summary-v2 .summary-read-more-link,
.sqs-block-summary-v2 time,
.BlogList .BlogList-item-excerpt p{
	font-size: 1rem;
	font-family: Overpass, sans-serif;
	line-height: 1.4em;
}

.sqs-block-summary-v2 .summary-read-more-link,
.tweak-blog-list-item-readmore-below-excerpt .BlogList-item-readmore,
.BlogList-item-readmore span:after
{
	font-family: Overpass, sans-serif;
	color: #ee7203;
	font-weight: bold;
	font-size: 0.8rem;
}

.BlogList-item-readmore span:after{
	padding-left: 0.2rem;
}

.tweak-blog-list-item-readmore-below-excerpt .BlogList-item-readmore{
	display: inline-block;
}

.sqs-block-summary-v2 .summary-metadata time,
.BlogList-item-meta time.Blog-meta-item {
	font-size: 0.7rem;
	color: #222;
	// opacity: 1;
	// transition: all .2s linear;
}

// .summary-item:hover time,
// .BlogList-item-meta time.Blog-meta-item,
// .BlogList-item:hover .BlogList-item-meta time.Blog-meta-item {
// 	opacity: 1;
// }

.tweak-blog-list-alignment-left .BlogList-item-meta {
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.BlogList time.Blog-meta-item--date {
	margin-top: -2.7rem;
	padding-right: 1rem;
}

.sqs-block-summary-v2 .summary-block-setting-metadata-position-above-title .summary-metadata-container--above-title, .sqs-block-summary-v2 .summary-block-setting-metadata-position-below-title .summary-metadata-container--below-title, .sqs-block-summary-v2 .summary-block-setting-metadata-position-below-content .summary-metadata-container--below-content,
{
    display: inline-block;
    text-align: right;
    float: right;
    padding-right: 1rem;
}

.sqs-block-summary-v2 .summary-item-record-type-text .summary-read-more-link,
.tweak-blog-list-item-readmore-below-excerpt .BlogList-item-readmore {
	display: inline-block;
}

.sqs-block.summary-v2-block {
	padding-bottom:0;
}

.BlogList-item-image,
.sqs-block-summary-v2 .summary-block-setting-show-title .summary-thumbnail-container
{
	margin-bottom: 1rem;
}

.tweak-site-width-option-full-background .Main-content{
    padding-top: 2rem;
}



/* ============================================================= */
/* ============================================================= */
/* Aktuelles SINGLE VIEW */
/* ============================================================= */
/* ============================================================= */

h1.BlogItem-title {
	margin-bottom: 0;
}

.BlogItem .Blog-meta-item--date {
	font-family: Overpass, sans-serif;
	font-size: .8rem;
	color: #888;
	margin-bottom: .5rem;
}

.Main--blog-item p {
	font-family: Overpass, sans-serif;
}

.Site-inner .Main--blog-item section:last-of-type {
	padding: 0;
}

.Share .Share-buttons::before {
	content: "Teilen";
	display: block;
	margin-bottom: .2rem;
	font-size: 0.7rem;
}
.Share .Share-buttons {
	margin-bottom: 3rem;
}

.Main--blog-item .BlogItem-pagination {
	padding-bottom: 6rem;
}


/* INTRO IMAGE ON BLOG PAGE */

.BlogItem .custom-img-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .source {
    	font-size: 0.8rem;
    	text-align: right;
    }
}

.BlogItem .Intro--has-image {
    height: 24rem;
    padding-bottom: 0;
    margin: 0;
}

.BlogItem .Intro--has-image .Intro-image:before {
    display: none !important;
}


