/* ============================================================= */
/* ============================================================= */
/* Buttons */
/* ============================================================= */
/* ============================================================= */


//all buttons
a.sqs-block-button-element,
.Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Header-nav--primary .Header-nav-item:last-child,
.Mobile-overlay-folder a.Mobile-overlay-folder-item,
input.button.sqs-system-button,
.sqs-editable-button-font,
.sqs-system-button,
#sqsp-cookie-banner-accept
 {
	font-family: 'Overpass', sans-serif !important;
	padding: .52em .8em .4em .8em !important; //maybe add other sizes than medium?	 padding: .4em 0.8em;
	line-height: 1 !important;
	border-radius: 5em !important;
	
	background-color: $orange !important;
    color: #fff !important;

    position: relative;
    top: -0.12em;

    letter-spacing: .02rem;

	// font-size: 1em !important;
	// font-weight: bold;
	// background-color: #fff;
	// color: #ee7203;
	// text-transform: uppercase;	
}

//for orange backgrounds
.sqs-editable-button-color,
section.Index-page[id*="orange"] .sqs-block-button-element,
.Mobile-overlay-folder a.Mobile-overlay-folder-item,
.Mobile-overlay-folder a.Mobile-overlay-folder-item,
.lightbox-content input.button.sqs-system-button,
section.Index-page[id*="spenden"] .sqs-block-button-element
 {
    background-color: #fff !important;
    color: $orange !important;
}



/*
.sqs-block-button a.sqs-block-button-element {
	font-family: 'Overpass', sans-serif !important;
	font-size: 1rem;
}
.sqs-block-button .sqs-block-button-element--medium {
	padding: .3rem 1.5rem;	
}

.sqs-block-button .sqs-block-button-element--medium{
	color: #fff;
}

body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button, body:not(.button-style-default).button-style-outline .sqs-alternate-block-style-container .sqs-editable-button-color,
.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child,
.Mobile .Mobile-overlay-menu-main .Mobile-overlay-nav.Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Mobile-overlay-folder a.Mobile-overlay-folder-item,
.yui3-widget .sqs-modal-lightbox-content .lightbox-inner .lightbox-content input.button.sqs-system-button,
a.sqs-block-button-element--medium.sqs-block-button-element,
body:not(.button-style-default) .sqs-editable-button, body:not(.button-style-default) .sqs-editable-button-font
{
	background-color: #fff;
	color: #ee7203;
	opacity: 1;
	font-size: 1rem;
	font-weight: bold;
	font-family: Overpass, sans-serif;
	text-transform: uppercase;
	padding: .4em 0.8em;
	border-radius: 5em;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

section:not(.Index-page--has-image) a.sqs-block-button-element--medium.sqs-block-button-element,
body:not(.button-style-default) section:not(.Index-page--has-image) .sqs-editable-button,
body:not(.button-style-default) .sqs-editable-button, body:not(.button-style-default) .sqs-editable-button-font {
	background-color: #ee7203;
	color: #fff;
}

body:not(.button-style-default) .sqs-alternate-block-style-container .sqs-editable-button, body:not(.button-style-default) .sqs-alternate-block-style-container .sqs-editable-button-color,
section.Index-page[id*="orange"] a.sqs-block-button-element.sqs-block-button-element--medium
 {
    color:#ee7203;
    background-color: #fff;
    border-color: #fff;
}

.Mobile .Mobile-overlay-menu-main .Mobile-overlay-nav.Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Mobile-overlay-folder a.Mobile-overlay-folder-item{
	width: auto;
	display: table;
	padding: .5em 0.7em;
	margin-bottom: 0.7rem;
	font-size: 1.1rem;
	line-height: 130%;
	max-width: 82%;
}

.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child{
    color: #fff;
    background-color: #ee7203;
    font-size: $h3size;
    -webkit-transition: .1s opacity linear;
    -moz-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    margin-top:-0.13rem;
}
.Header-nav--primary .Header-nav-inner .Header-nav-item:last-child:hover{
    color: #fff;
    opacity: 0.8;
}*/