

/* Presse Site */


#collection-5b435631352f532eead7b5a9 .Main-content .form-block.sqs-block-form{
    background: #f69e64;
    padding: 2.5rem 2.5rem 2.5rem 1.1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}


/* Über uns Ordnerseite */

#page-5b55be036d2a73038b90cd82 .image-block.sqs-block-image {
    padding-top: .15rem;
    padding-bottom: 0;
}



/* images overlay; */
.image-block .image-block-outer-wrapper .image-block-wrapper{
  background: #ee7203;
}
.image-block .image-block-outer-wrapper img {
	transition: opacity .2s linear;
	-webkit-backface-visibility: hidden;
}

.row > .col:hover > .image-block .image-block-outer-wrapper a img{
  opacity: 0.75;
}
