
/* header and navs */

$sec-nav-height: 2rem;
$sec-nav-font-size: .9rem;
@import 'searchbar';


.Header-branding-logo {
    max-width: auto;
    width: 12rem;
}

.Mobile-bar-branding {
    margin-left: 2.5rem;
}


.Header-inner--top {
    padding-top: 0;
    padding-bottom: 0;
    height: 8rem;
}

.Header div[data-nc-container="bottom-right"] {
    background-color: $orange;
    position: absolute;
    top: -10rem;
    left: 0;
    width:100%;
    height: $sec-nav-height;
}

@media screen and (min-width: 1240px) {
    body {
        margin-top: 0 !important;
        border-top: $sec-nav-height solid $orange;
    }
    .Header div[data-nc-container="bottom-right"] {
        position: relative !important;
    }
}

.Header--bottom .Header-inner.Header-inner--bottom {
    padding-top:0;
}

.Header.Header--bottom .Header-nav--secondary {
    height: $sec-nav-height;
    line-height: 2.4rem;
    font-size: $sec-nav-font-size !important;
    font-weight: normal !important;

    .Header-nav-inner {
        margin: 0 !important;
        padding-right:1rem;
    }

    .Header-nav-item {
        height: 2rem;
        line-height: 1.4rem;
        padding: 0 !important;
        margin: 0 0 0 .6rem !important;
        
        color: #fff !important;
        font-size: $sec-nav-font-size;
        font-weight: bold;
        letter-spacing: 0;
        opacity: .75;
        &:hover {
            opacity: 1 !important;
        }

        -webkit-font-smoothing: subpixel-antialiased;
        -moz-font-smoothing: subpixel-antialiased;
        font-smoothing: subpixel-antialiased;

    }
}

.Header-nav--primary .Header-nav-item:last-child {
    font-size: 1rem !important;
}

/* secondary nav icons */
.Header-nav--secondary .Header-nav-item::before,
.Mobile-overlay-nav-item::before
 {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.3rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $orange50;
}

.Header-nav--secondary .Header-nav-item[href$="downloads/"]::before, .Mobile-overlay-nav-item[href$="downloads/"]::before {
    content: '\f358'; /*arrow down*/
}
.Header-nav--secondary .Header-nav-item[href$="presse/"]::before, .Mobile-overlay-nav-item[href$="presse/"]::before {
    content: '\f0a1'; /*bullhorn*/
}
.Header-nav--secondary .Header-nav-item[href$="kontakt/"]::before, .Mobile-overlay-nav-item[href$="kontakt/"]::before {
    content: '\f086'; /*comments*/
}
.Header-nav--secondary .Header-nav-item[href$="aktuelles/"]::before, .Mobile-overlay-nav-item[href$="aktuelles/"]::before {
    content: '\f0f3'; /*dialog?*/
}

.Header-nav--secondary .Header-nav-item[href$="search/"]::before, .Mobile-overlay-nav-item[href$="search/"]::before {
    content: '\f002'; /*search?*/
}


/* primary nav */

.Header-nav--primary  {

    white-space: inherit;

    .Header-nav-inner{
        margin-top: 0.5rem;

        .Header-nav-item {
            font-family: 'Overpass', sans-serif;
            font-size: $h3size;
            letter-spacing: .02rem;

            &[href="/"]{  
                display: none;
            }

            .Header-nav-folder-item:hover, &:hover {
                color: $orange;
            }
        }

        .Header-nav-folder {
            border-radius: .5rem;
            margin-left: -.75rem;
            padding: .6rem;
            padding-bottom: .31rem;

            .Header-nav-folder-item{
                // color: rgba(255,255,255,.6);
            }
        }
    }  
}

.no-touch .Header-nav--primary .Header-nav-folder a.Header-nav-folder-item:first-child {
    display: none;
        
}

/* > spenden button in buttons */




/* fixed nav try */

@media screen and (min-width: 740px){
    %animate-all {
        -webkit-transition: .3s height ease-in-out, .3s width ease-in-out;
        -moz-transition: none;
    }

    .Header.Header--top, {
        // @extend %animate-all;
        .Header-inner--top {
            @extend %animate-all;
        }
        .Header-branding-logo {
            @extend %animate-all;
        }

        &.fixed {
            position: fixed;
            top: 0;
            z-index: 999;
            width: 100%;
            border-bottom: .2rem solid $footerGray;

            .Header-inner--top {
                height: 5rem;
                font-size: 1rem;
            }

            .Header-branding-logo {
                width: 8rem;
            }
        }
    }
}

