

.Mobile-overlay-menu a.Mobile-overlay-nav-item{
	font-family: Overpass, sans-serif !important;
	font-size: 1.4rem;
}

.Mobile-overlay-nav.Mobile-overlay-nav--secondary {
	font-size: 1.1rem;
	border-top: 1px solid #fff;
	margin-top: 3.5rem;
	padding-top: 2rem;
	padding-left: 0.5rem;
}


.Mobile-overlay-folder .Mobile-overlay-folder-item.Mobile-overlay-folder-item--toggle {
	font-family: Overpass, sans-serif;
    border-bottom: 1px solid #fff;
    width: 100%;
    display: block;
    padding-bottom: .3em;
    margin-bottom: 1.5rem;
    font-size: .7rem;
    text-transform: uppercase;
    padding-left: .3rem;
}
.Mobile-overlay-folder .Mobile-overlay-folder-item.Mobile-overlay-folder-item--toggle:before {
	content: "\25C0";
    color: #fff;
    font-size: .5rem;
}

.Mobile-overlay-nav-item::before {
    display: block;
    float: left;
    min-height: 1.2rem;
}


.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-solid .Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
.Mobile-overlay-folder .Mobile-overlay-folder-item {
	color: #fff;
    padding: 0;
    margin: 0.8rem 0 0 0;
    background: none;
    font-size: 1.1rem;
    letter-spacing: .02rem;
    line-height: 1.3;
    text-transform: uppercase;
}

.Mobile-overlay-nav-item--folder-label:after {
	content: "\25B6";
	margin-left: .5rem;
	font-size: 0.6rem;
	vertical-align: middle;
}


#back-to-top {
    color: $orange;
    z-index: 999;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    border-radius: 50%;
}

// .Mobile-overlay-folder a.Mobile-overlay-folder-item,
// .Mobile-overlay-nav--primary .Mobile-overlay-nav-item,
// .Mobile-overlay-folder a.Mobile-overlay-folder-item {
// 	color: red;
// }