

.Mobile-overlay-menu a.Mobile-overlay-nav-item{
	font-family: Overpass, sans-serif !important;
	font-size: 1.4rem;
}

.Mobile-overlay-nav.Mobile-overlay-nav--secondary {
	font-size: 1.1rem;
	border-top: 1px solid #fff;
	margin-top: 3.5rem;
	padding-top: 2rem;
	padding-left: 0.5rem;
}


.Mobile-overlay-folder .Mobile-overlay-folder-item.Mobile-overlay-folder-item--toggle {
	font-family: Overpass, sans-serif;
    border-bottom: 1px solid #fff;
    width: 100%;
    display: block;
    padding-bottom: .3em;
    margin-bottom: 1.5rem;
    font-size: .7rem;
    text-transform: uppercase;
    padding-left: .3rem;
}