/* =================================================== */
/* =================================================== */
/* NEWSLETTER */
/* =================================================== */
/* =================================================== */

#index-newsletter {
	min-height: auto;
	padding-bottom: 4rem;
	background: #f69e64 url('https://static1.squarespace.com/static/5af1b59a96e76f94d4ab5802/t/5b463b43758d46aaa11c0956/1531329347502/childi_newsletter.svg') no-repeat 23% 0;
	background-size: 9rem;
}

#index-newsletter figure {
	display: none;
}

#index-newsletter h1{
	margin-top: 11rem;
}

.form-wrapper .field-list .field .field-element {
	border: 0;
	background-color: rgba(255,255,255,0.2);
	border-radius: 4px;
	font-size: 1rem;
	color: #fff;
	font-weight: bold;
}

.form-wrapper .field-list .field .field-element:focus {
	background-color: rgba(255,255,255,0.4);
}


.form-wrapper
	{
		.title {
			color: #fff;
		}
		.button.sqs-system-button.sqs-editable-button{
			margin-top: 1rem;
		}
	}

/* =================================================== */
/* =================================================== */
/* POPUP FORM */
/* =================================================== */
/* =================================================== */
.yui3-widget .sqs-modal-lightbox-content .lightbox-inner .lightbox-content{
	background: #f69e64 url('https://static1.squarespace.com/static/5af1b59a96e76f94d4ab5802/t/5b463b43758d46aaa11c0956/1531329347502/childi_newsletter.svg') no-repeat 83% 0;
	background-size: 17%;
	color: #fff;

	.form-inner-wrapper{
		color: #fff;
	}

	.form-wrapper .form-title {
		color: #fff;
	}

	.lightbox-close {
		color: #fff;
		font-size: 2rem;
		top: 1.5rem;
		right: 1.5rem;
	}
}



