

/* =================================================== */
/* TYPO GLOBAL*/
/* =================================================== */

html {
	font-size: 16px;
}

// @media screen and (max-width: 760px) {
// 	html {
// 		font-size: 17px;
// 	}
// } 'Gentium Basic'

body, p {
	font-family: 'Overpass', sans-serif;
	letter-spacing: 0;
}

/* headlines etc.*/
h1, h2, h3,
.blockquote em,
.Header .Header-inner .Header-nav--secondary,
.Footer h3,
.Footer .Footer-nav .Footer-nav-item,
#index-aktuelles .summary-title,
.form-wrapper .form-title,
.form-wrapper .title,
.BlogList-item .BlogList-item-title,
.Share .Share-buttons::before,
.sqs-block-summary-v2 .summary-item-list .summary-title,
 {
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
	color: #ee7203;
	text-transform: uppercase;
	letter-spacing: .02rem;
	line-height: 1.28;
}

.Header .Header-inner .Header-nav--secondary{
	text-transform: none;
}

.Footer-nav .Footer-nav-item, .Footer h3 {
	font-size: 1rem;
}

h1 {
	color: #ee7203;
	font-size: $h1size;
	font-weight: bold;
}
h2 em {
	font-size: $h1size;
}

h2, h3 em, blockquote em, .sqs-block-quote blockquote {
	font-size: $h2size;
}

h3,
#index-aktuelles .summary-title,
.BlogList-item .BlogList-item-title,
blockquote,
.sqs-block-summary-v2 .summary-item-list .summary-title
{
	font-size: $h3size;
}

h2  {
	margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1+h2, h1+h1, h2+h3 {
    margin-top: .2em;
}

h1+h2, h2+h3 {
	margin-top: -.4em;
}

h3 {
	margin-top:1.8em;
	margin-bottom: 0;
}
h3+p{
	margin-top:.75em;
}

h1 em, h2 em, h3 em{
	font-weight: normal;
	color: #222;
}

em, blockquote,.sqs-block-quote blockquote {
	font-style: normal;
	text-transform: none;
	letter-spacing: 0;
	font-weight: normal;
	font-family: "Gentium Basic", serif;
}

.sqs-block-quote blockquote {
	line-height: 1.25;
}

h3, h4, blockquote {
	letter-spacing: 0.025em;
}

.row .sqs-block blockquote {
	color: #ee7203;
}

.Index-page.Index-page--has-image h1 em, .Index-page.Index-page--has-image h2 em, .Index-page.Index-page--has-image h3 em,
section.Index-page[id*="orange"] h1, section.Index-page[id*="orange"] h2, section.Index-page[id*="orange"] h3,
.Index-page.Index-page--has-image blockquote {
	color: #fff;
}

h1, h2 strong, h3 strong{
	font-weight: bold;
}

h1 strong::after, h2 strong::after, h3 strong::after,
.yui3-widget .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-title::after
{
	content: ' ';
	display: block;
	margin: 0.5em auto 1em 0;
	width: 4em;
	height: .25em;
	background-color: #ee7203;
}

.yui3-widget .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-title::after,
.Intro.Intro--has-image h1 strong::after, .Intro.Intro--has-image h2 strong::after, .Intro.Intro--has-image h3 strong::after,
.Index-page--has-image h1 strong::after, .Index-page--has-image h2 strong::after, .Index-page--has-image h3 strong::after,
section.Index-page[id*="orange"] h1 strong::after, section.Index-page[id*="orange"] h2 strong::after, section.Index-page[id*="orange"] h3 strong::after
{
	background-color: #fff;
}


h1.text-align-center strong::after, h2.text-align-center strong::after, h3.text-align-center strong::after{
	margin-left: auto;
	margin-right: auto;
}
h1.text-align-left strong::after, h2.text-align-left strong::after, h3.text-align-left strong::after{
	margin-left: 0;
	margin-right: auto;
}
h1.text-align-right strong::after, h2.text-align-right strong::after, h3.text-align-right strong::after{
	margin-left: auto;
	margin-right: 0;
}


// zitat
.row .sqs-block blockquote {
	padding-left: 0;
	border: 0;

}

.sqs-block-summary-v2 .summary-item-list .summary-title {
    margin-bottom: 0.35rem;
}

.tweak-quote-block-alignment-center .sqs-block-quote .source {
	font-family: "Overpass", sans-serif;
	font-size: 1rem;
	line-height: inherit;
	padding: .5rem 0 .4rem 1rem;
}

.sqs-block-quote blockquote span{
	display: none;
}

.sqs-block-quote {
	border: 1px solid rgba(176,176,175,.5);
	border-left: 0;
	border-right: 0;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 1rem 1rem 0 1rem;
}

.sqs-block-quote figure{
	margin: .5em 0;
}

/* ============================================================= */
/* ============================================================= */
/* LINKS */
/* ============================================================= */
/* ============================================================= */

h1 strong a, h2 strong a, h3 strong a {
	text-decoration: none;
	border-bottom: 0 !important;
	padding-bottom: 0;
}

.Footer-blocks .sqs-block-html p a, .Footer-blocks .sqs-block-markdown p a, .Footer-blocks .sqs-block-image p a, .Footer-blocks .sqs-block-html blockquote a, .Footer-blocks .sqs-block-markdown blockquote a, .Footer-blocks .sqs-block-image blockquote a, .Footer-blocks .sqs-block-html ol a, .Footer-blocks .sqs-block-markdown ol a, .Footer-blocks .sqs-block-image ol a, .Footer-blocks .sqs-block-html ul a, .Footer-blocks .sqs-block-markdown ul a, .Footer-blocks .sqs-block-image ul a {
	padding-bottom: 0;
    border-bottom-color: rgba(0,0,0,.5);
}

.Footer-blocks .sqs-block-html p a:hover, .Footer-blocks .sqs-block-markdown p a:hover, .Footer-blocks .sqs-block-image p a:hover, .Footer-blocks .sqs-block-html blockquote a:hover, .Footer-blocks .sqs-block-markdown blockquote a:hover, .Footer-blocks .sqs-block-image blockquote a:hover, .Footer-blocks .sqs-block-html ol a:hover, .Footer-blocks .sqs-block-markdown ol a:hover, .Footer-blocks .sqs-block-image ol a:hover, .Footer-blocks .sqs-block-html ul a:hover, .Footer-blocks .sqs-block-markdown ul a:hover, .Footer-blocks .sqs-block-image ul a:hover {
	color: #ee7203;
	border-bottom-color: #ee7203;
}

/* SELECTION */ 

::selection {
  color: #fff;
  background: $orange; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #fff;
  background: $orange; /* Gecko Browsers */
}